<div class="container position-relative all-lists-container" [ngStyle]="minHeight()">

  <app-add-button></app-add-button>
  <!--mat-progress-bar mode="buffer" *ngIf="(this.web.Loading$ | async) as boolean" id="top-progress-bar"></mat-progress-bar-->

  <div >

    <!---app-g-add></app-g-add-->

    <!-- ========================List Container===========================  -->
    <div class="ListContainer" [@listAnimate]="this.web.BoughtOnly?.length">

      <!--Head ToolBar-->
      <div class="list-title"><h5>The Grocery List</h5></div>

      <div>
        <ul class="ul list-unstyled list-group">
          <app-add-card></app-add-card>
        </ul>
      </div>

      <div>
        <ul class="ul list-unstyled list-group">
          <div *ngFor="let Item of this.web.BoughtOnly;let i = index" class="card_item">
            <app-item-card [ItemOrginal]='Item'></app-item-card>
          </div>
        </ul>
      </div>


    </div>
  </div>


  <!-- ========================List Container===========================  -->

  <div class="ListContainer NeededListContainer" [@neededAnimation]="this.web.NeededOnly?.length"
  *ngIf="this.web.NeededOnly&&this.web.NeededOnly?.length>0">
      <!--Head ToolBar-->
      <div class="list-title"><h5>The Bought List</h5></div>
  
      <ul class="ul list-unstyled list-group">
        <div *ngFor="let Item of this.web.NeededOnly;let i = index" class="card_item">
  
          <app-item-card [ItemOrginal]='Item'></app-item-card>
  
        </div>
      </ul>
  
  </div>
  <!--

    <input type="number" placeholder="requestsNumber" value="50" [(ngModel)]="num" style="position: sticky;bottom: 0;">
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num)">Test Refresh Batch</button>
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num,true)">Test Refresh Sequential</button>
  -->


</div>