<div class="container position-relative">

  <app-add-button></app-add-button>
  <!--mat-progress-bar mode="buffer" *ngIf="(this.web.Loading$ | async) as boolean" id="top-progress-bar"></mat-progress-bar-->

  <div >

    <!---app-g-add></app-g-add-->

    <!-- ========================List Container===========================  -->
    <div class="ListContainer" [@listAnimate]="this.web.BoughtOnly?.length">

      <!--Head ToolBar-->
      <mat-toolbar color="primary" class="container-fluid matbar" *ngIf="this.web.BoughtOnly&&this.web.BoughtOnly?.length>0">
        <mat-toolbar-row>
          <span>the Grocery List</span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div>
        <ul class="ul list-unstyled list-group">
          <app-add-card></app-add-card>
        </ul>
      </div>

      <div>
        <ul class="ul list-unstyled list-group">
          <div *ngFor="let Item of this.web.BoughtOnly;let i = index" class="card_item">
            <app-item-card [ItemOrginal]='Item'></app-item-card>
          </div>
        </ul>
      </div>


    </div>
  </div>


  <!-- ========================List Container===========================  -->

  <div class="NeededListContainer" *ngIf="this.web.NeededOnly&&this.web.NeededOnly?.length>0" [@neededAnimation]="this.web.NeededOnly?.length">
    <!--Head ToolBar-->
    <mat-toolbar color="primary" class="container-fluid matbar2">
      <mat-toolbar-row>
        <span>the Bought List</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <ul class="ul list-unstyled list-group">
      <div *ngFor="let Item of this.web.NeededOnly;let i = index" class="card_item">

        <app-item-card [ItemOrginal]='Item'></app-item-card>

      </div>
    </ul>



  </div>
  <!--

    <input type="number" placeholder="requestsNumber" value="50" [(ngModel)]="num" style="position: sticky;bottom: 0;">
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num)">Test Refresh Batch</button>
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num,true)">Test Refresh Sequential</button>
  -->


</div>