<div class="container">

  <mat-progress-bar mode="buffer" *ngIf="(this.web.Loading$ | async) as boolean"></mat-progress-bar>

  <div *ngIf="this.web.Glist">

    <app-g-add></app-g-add>

    <!-- ========================List Container===========================  -->
    <div class="ListContainer">

      <!--Head ToolBar-->
      <mat-toolbar color="primary" class="container-fluid matbar">
        <mat-toolbar-row>
          <span>the Grocery List</span> <button mat-button [disabled]="(this.web.Loading$ | async)" (click)="this.web.UpdateList$.next();">Refresh</button>
        </mat-toolbar-row>
      </mat-toolbar>


      <div *ngFor="let Item of this.web.Glist;let i = index">
        <ul class="ul list-unstyled list-group" *ngIf="!Item.groceryOrBought">
          <app-item-card [ItemOrginal]='Item'></app-item-card>
        </ul>
      </div>


    </div>
  </div>

  <!-- ========================List Container===========================  -->
  <mat-divider class="mat-divider"></mat-divider>

  <div class="NeededListContainer container" *ngIf="NeededOnly?.length!=0">
    <!--Head ToolBar-->
    <mat-toolbar color="primary" class="container-fluid matbar2">
      <mat-toolbar-row>
        <span>the Bought List</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div *ngFor="let Item of this.web.Glist;let i = index">
      <ul class="ul list-unstyled list-group" *ngIf="Item.groceryOrBought">

        <app-item-card [ItemOrginal]='Item'></app-item-card>

      </ul>
    </div>

  </div>
  <!--

    <input type="number" placeholder="requestsNumber" value="50" [(ngModel)]="num" style="position: sticky;bottom: 0;">
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num)">Test Refresh Batch</button>
    <button mat-raised-button style="position: sticky;bottom: 0;" (click)="testRefresh(num,true)">Test Refresh Sequential</button>
  -->


</div>