<div class="row">
      
    <div class="col-md-3 col-sm-4">
      <h4>Account Informations</h4>
      <p class="text-secondary">View or Edit account informations</p>

    </div>

    <div class="col-md-9 col-sm-8">

        <!---button mat-raised-button (click)="updateList()">Update List</button-->
      <form action="" class="" [formGroup]="userForm">
        <div class="row">
            <mat-form-field class="spacing">
                <input formControlName="username" placeholder="username (not editable)"
                 type="text" matInput>
              </mat-form-field>
              <mat-form-field class="spacing">
                <input formControlName="email" placeholder="Email (not editable)" type="email" matInput>
              </mat-form-field>
        </div>


        <div class="row">

          <mat-form-field class="spacing">
            <input formControlName="firstname" placeholder="first name" type="text" matInput>
            <button matSuffix mat-icon-button (click)="enableControl(f['firstname'])" *ngIf="f['firstname'].value == this.currentUser.FirstName"><i
                class="fas fa-edit"></i></button>

          </mat-form-field>

          <mat-form-field class="spacing">
            <input formControlName="lastname" placeholder="last name" type="text" matInput>
            <button matSuffix mat-icon-button (click)="enableControl(f['lastname'])" *ngIf="f['lastname'].value == this.currentUser.LastName"><i
                class="fas fa-edit"></i></button>
          </mat-form-field>



        </div>

        <div class="row align-content-center justify-content-end">

            <mat-form-field class="spacing col-sm-3" *ngIf="!usrFBtn&&!IsExternalLogin">
                <input formControlName="oldpassword" placeholder="Your Password" 
                type="password" matInput>
                <mat-error *ngIf="this.userForm.get('oldpassword').hasError('required')">Required</mat-error>
            </mat-form-field>

          <button mat-raised-button class="max-height-button  col-sm-2 align-self-center" 
          [disabled]="usrFBtn" (click)="editUser()">Edit info</button>
          <button mat-button (click)="resetEditUser()" *ngIf="!usrFBtn">cancel</button>

        </div>

      </form>


    </div>

  </div>