.invetaion-code-area {
  border: black solid 1px;
  padding: 10px;
}
.invetaion-code-row {
  margin-top: 10px;
}
#invetaion-code-area {
  color: #28a745;
}
.app-edit-user {
  padding-top: 40px;
  padding-bottom: 40px;
}
