<mat-toolbar class="navbar-container" id="navbar">

  <mat-toolbar-row>

    <div class="container">

      <div class="row">

        <div class="col-6">

          <div class="nav-logo">
            <button mat-button class="nav-button" routerLink="/" (click)="logoClick()">
              <img src="./assets/img/logo-1.png" alt="">

              <p> Fridge Notes</p>
              </button>
          </div>

        </div>

        <div class="col-6">

          <div class="float-right" *ngIf="auth.CurrentUser.UserName">

            <app-userbar class="left"></app-userbar>

          </div>

        </div>
      </div>


    </div>
    
  </mat-toolbar-row>

</mat-toolbar>

<!---button mat-raised-button class="fixed-bottom" (click)="animate=!animate" >Test</button-->

<!---div class="blackbox" [@CssJ]="animate"></div-->