<mat-card [@simp]="this.web.Glist?.length"  class="card grocery-card" [id]="this.web.ViewIdByname(this.Item.name)">

  <div class="row justify-content-between">

    <!--===================Title & subtitle===================-->
    <div class="col-sm-auto col-xs-12">

    
    <mat-card-header>

      <!--Title-->
      <mat-card-title>
        <h3 (click)="GetDetails(Item.id)">{{Item.name}}</h3>
      </mat-card-title>

      <!--Type-->
      <mat-card-subtitle *ngIf="!Item.groceryOrBought" class="card-subtitle">
        {{lastmore?.no}} {{lastmore?.typeOfNo}}
      </mat-card-subtitle>

      <mat-card-subtitle [ngClass]="setClasses()">
          <i class="fas fa-user-circle"></i> {{ItemOwner.username}}
      </mat-card-subtitle>

      <!--Timeout-->
      <mat-card-subtitle *ngIf="Item.groceryOrBought" class="card-subtitle">
        Usually every {{ this.FormatedTimout }}
      </mat-card-subtitle>

    </mat-card-header>

    <!--Content (empty)-->
    <mat-card-content class="type1">
    </mat-card-content>
  </div>
    <!--=================Buttons======================-->
    <div class="col-sm-auto col-xs-12 align-self-end">
      <app-card-buttons [Item]='Item'>
      </app-card-buttons>
    </div>

  </div>

</mat-card>