
<div class="userbar" *ngIf="auth.CurrentUser">

  {{auth.CurrentUser.firstname}} 

  <button mat-icon-button class="block"  
  (click)="this.web.UpdateList$.next({loading:true});">
      <i [ngClass]="SetLoadingAndrefresh()"></i>
    </button>

  <button mat-icon-button  [matMenuTriggerFor]="userMenu" class="block"  >
    <!--i mat-icon-button [ngClass]="setClasses()"></i-->
    <i [ngClass]="SetLoadingAndellipsis()"></i>
  </button>


  
  <mat-menu #userMenu="matMenu" class="block" >
    <button mat-menu-item routerLink="/account">
        <span>Friends List</span>
    </button>
    <button mat-menu-item (click)="logoutUser()">
      <span>Logout</span>
    </button>
  </mat-menu>


</div>