@import "../../../../variables";

.login-row{
    height: 100%;
    margin-top: 40px;
}
.login-form{
    margin-top: 20px;
}

.external-links-row{
    margin-top: 20px;
}
.login-submit{
    background-color: $grocery_color;
}