<div class="container">

  <div class="row justify-content-center">
    <!---     Form       -->
    <div class="col-6">
      <mat-card class="form-card z-index-10">

        <div class="row justify-content-center">
          <div class="col-lg-6 col-12">
            <a [href]=googleUrl class="w-100 google-login-btn"
            mat-raised-button>
              <div>
                  <i class="login-image fab fa-google"></i>
                  <!--

                    <img class="login-image" width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                  -->
                Login With Google
              </div>
          </a>
          </div>
          <div class="col-lg-6 col-12">
            <a [href]=FacebookUrl class="w-100 facebook-login-btn"
            mat-raised-button ><i class="login-image fab fa-facebook-f"></i> Login With Facebook</a>
          </div>

        </div>


        <form [formGroup]="loginform">
          
          <!--UserName-->
          <div class="row justify-content-center">
            <mat-form-field class="spacing col-12">
              <input formControlName="username" placeholder="Username" type="text" matInput>
              <mat-error *ngIf="f['username'].hasError('required')">required</mat-error>
            </mat-form-field>
          </div>
    
          <!--Password-->
          <div class="row justify-content-center">
            <mat-form-field class="spacing col-12">
              <input formControlName="password" placeholder="Password" type="password" matInput>
              <mat-error *ngIf="f['password'].hasError('required')">required</mat-error>
            </mat-form-field>
          </div>
    
          <!--Submit-->
          <div class="row justify-content-center">
            <div class="col-2">
              <button type="submit" (click)="onSubmit()" mat-raised-button 
              [disabled]="!loginform.valid||disSubmit" class="w-100" color="primary"
              >Submit</button>
            </div>
          </div>
    
          <!--External Links-->
          <div class="row justify-content-around">

            <div class="col">
              <a  class="no-gutters small disable-anchor text-secondary" href="#">Forget password?(Disabled for Developing)</a>
            </div>

            <button class="col-1" type="button" [disabled]="disSubmit"
            [routerLink]="['/register']" mat-raised-button >Register</button>
          </div>
          
          
        </form>

        <div class="bottom-progressbar-card z-index-8" >
            <mat-progress-bar *ngIf="disSubmit" mode="query"></mat-progress-bar>
        </div>

      </mat-card>
  
    </div>
  </div>

</div>