/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/*@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  /*background-color: #ededed*/
  background-color: rgb(250, 250, 250);
}

md-icon {
  font-family: "Material Icons" !important;
}
a{
  text-decoration: none !important;
}
a:hover {
  color:black!important;
  text-decoration: none!important;
}
.rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.rotate.rotate-down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*remove blue outline bootstrap and matrial*/
.btn:focus,
.btn:active,
button:focus,
button {
  outline: none !important;
  box-shadow: none;
}

.loading-rotate {
  /*
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-play-state: unset;*/
}
.loading-rotate-start {
  animation-name: spin;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.grocery-card {
  margin-top: 0.5em;
}

.card-section {
  display: block;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.max-height-button{
    max-height: 36px;
}
.active-link{
  display: none !important
}


.menu-inner{
  margin-left: 15px;
}
.menu-header{
  margin-top: -8px;
  color: black !important;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgb(32, 136, 136)
}
.menu-header-inner{
  margin-left: 0px ;
}
.nav-logo{
  color: black
}

.ListContainer{
  margin-top: 20px;
  margin-bottom: 40px;
  
}

.NeededListContainer{
  /*border-top: solid 2px ;
  border-top-color:#333;*/
  
  margin-top: 40px;
}

.g-list-card{
  padding-top: 0 !important;
  margin-top: 20px;
  margin-bottom: 40px;
}

.navbar-container{
  background-color: #237d7d;
  min-height: 55px !important;
  height: 30px;
}
.bottom-progressbar-card{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.form-card{
  margin-top:20px ;
  position: relative;
}










/* Preset Styles*/
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
.z-index-5 {
  z-index: 5;
}
.z-index-6 {
  z-index: 6;
}
.z-index-7 {
  z-index: 7;
}
.z-index-8 {
  z-index: 8;
}
.z-index-9 {
  z-index: 9;
}
.z-index-10 {
  z-index: 10;
}
.z-index-11 {
  z-index: 11;
}
.z-index-12 {
  z-index: 12;
}
.z-index-13 {
  z-index: 13;
}
.z-index-14 {
  z-index: 14;
}
.z-index-15 {
  z-index: 15;
}
.z-index-16 {
  z-index: 16;
}
.z-index-17 {
  z-index: 17;
}
.z-index-18 {
  z-index: 18;
}
.z-index-19 {
  z-index: 19;
}
.z-index-20 {
  z-index: 20;
}
.z-index-21 {
  z-index: 21;
}
.z-index-22 {
  z-index: 22;
}
.z-index-23 {
  z-index: 23;
}
.z-index-24 {
  z-index: 24;
}
