<!---     Form       -->
<form [formGroup]="registerForm">
  <!--Username-->
  <mat-form-field class="spacing">
    <input formControlName="username" placeholder="Username"type="text" matInput>
  </mat-form-field>

  <!--FirstName-->
  <mat-form-field class="spacing">
    <input formControlName="firstName" placeholder="First Name" type="text" matInput>
  </mat-form-field>

  <!--LastName-->
  <mat-form-field class="spacing">
    <input formControlName="lastName" placeholder="Last Name" type="text" matInput>
  </mat-form-field>

  <!--Password-->
  <mat-form-field class="spacing">
    <input formControlName="password" placeholder="Password" type="password" matInput>
  </mat-form-field>



  <!--Needed-->
  <button type="submit" (click)="onSubmit()" class="needed" mat-raised-button [disabled]="!registerForm.valid">Submit</button>


</form>
<button type="button" [routerLink]="['/login']" mat-raised-button>Login</button>